{% extends "base.html" %}

{% block main %}

<div id="mainBody">
  <h1 class="app-page-heading">
    {{ trans['Spin up an environment'] }} Locations
  </h1>


  <p class="nhsuk-lede-text app-lede-text">
    {{ trans['Build consistent, accessible user interfaces. Learn from the research and experience of other NHS digital teams.'] }}
  </p>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="select-1">
      {{ trans['Use the tools below to start up a new environment'] }}
    </label>
    <select class="nhsuk-select" id="select-1" name="select-1" hx-get="/envSelected" hx-swap="outerHTML" hx-include="[id='select-1']">
      <option value="0">...</option>
      <option value="1">{{ getLocations }}</option>
      <option value="2" disabled>Health stack Bahmi</option>
      <option value="3" disabled>Health stack Better.care</option>
    </select>
  </div>

  <table>
    <thead>
      <th>Placeholder full name</th>
      <th>Variable 1</th>
      <th>Variable 2</th>
    </thead>
    <body>
        {% for key in variables %}
        <tr>
          <td>{{key[2]}}</td>
          <td>{{key[3]}}</td>
          <td>{{key[4]}}</td>
        </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>


  <label class="nhsuk-label" for="select-1">
    {{ trans['Use the link below to start up a new command line'] }}
  </label>

  <p><a href="/" hx-target="#mainBody" hx-get="/commandLine"">
    {{ trans['Command line'] }}
  </a></p>
</div>
{% endblock %}