{% extends "base.html" %}

{% block main %}

<div id="mainBody">

  <form action="clinicalRequestSubmit" method="post">
    <div>
          <div class='row'>
              <div class='columnL input'>
                <h1 class="app-page-heading">
                  {{ trans['Spin up an environment'] }} Requests
                </h1>
              </div>
              <div class='columnR'>
                <div class="locationSelect-div-padding">
                  <select class="locationSelect" name="locations" id="location">
                    {{ locationOptionsHTML|safe }}
                  </select>
                </div>
              </div>
          </div>
    </div>
    a
    {{ clinicalRequestTypes }}
    b

{% endblock %}