{% extends "base.html" %}

{% block main %}

  <form action="/clinicalRequesting" method="post">
    <div class='formWrapper'>
      <div class='row'>
        <div class='columnL'>
            <label for="demographicsDrop">Demographics drop</label>
        </div>
        <div class='columnR'>
            <input type="text" class="inputLarge high" name="democraphics drop" value="">
        </div>
    </div>
      {{ clinicalRequestTypesHTML|safe }}
    </div>
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
  </form>
    
{% endblock %}